# =============== #
# Unity generated #
# =============== #
Temp/
Library/
Assets/Editor
Assets/NatureStarterKit2
Assets/SampleScenes
Assets/skyb1
Assets/Standard\ Assets
Assets/SteamVR
Assets/TheLabRenderer

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
obj/
*.svd
*.userprefs
/*.csproj
*.pidb
*.suo
/*.sln
*.user
*.unityproj
*.booproj

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
.gitconfig